version: "3.9"
services:
  backend:
    build: ./backend
    container_name: movie-backend
    env_file: ./backend/.env
    expose:
      - "5001:5000" 
    volumes:
      - ./backend/data:/app/data

  frontend:
    build: ./frontend
    container_name: movie-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    environment:
      - VITE_API_URL=/api
